<section id="each-event-page">
  <div class="container-fluid" >
    <div class="row">
      <h1><%=@event.title%></h1>
      <div class="col-md-12">
        <div class="col-md-6">
          <img src="<%='/event_pics/posters/'+@event.poster%>" alt="<%=@event.title.capitalize%>">
        </div>
        <div class="col-md-6">
          <h2>Organised By: <span><%= @event.organiser%></span></h2>
          <h2>Rules &amp; Regulations</h2>
            <p><%=raw @event.rules%></p>
            <%if @event.reg_required%>
            <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2">
              <a href="<%=@event.link%>" class="btn btn-primary" target="_blank">Click Here To Register</a>

            </div>
            <%end%>
        </div>

      </div>
    </div>
  </div>

</section>
<style media="screen">
  body{
    background-image: url('/bg-brush.jpg');
  }
  nav ul li{
    color: black;
  }
</style>
