<div class="container-fluid">
  <section id="our-team">
    <div class="row committee" id="core">
      <h1>Core Team</h1>
      <%@members.where(:committee => 'core').each do |mem|%>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <img src="/faa_members/<%=mem.image%>" alt="<%=mem.name%>" class="member">
        <h3 class="member"> <%=mem.name%></h3>
      </div>
      <%end%>
    </div>
    <div class="row committee" id="creative">
      <div class="text">
        <h1>Creative Team</h1>
        <%@members.where(:committee => 'creative').each do |mem|%>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <img src="/faa_members/<%=mem.image%>" alt="<%=mem.name%>" class="member">
          <h3 class="member"> <%=mem.name%></h3>
        </div>

        <%end%>
      </div>
    </div>
    <div class="row committee" id="techincal">
      <h1>Techincal Team</h1>
      <%@members.where(:committee => 'technical').each do |member|%>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <img src="/faa_members/<%=member.image%>" alt="<%=member.name%>" class="member">
        <h3 class="member"><%=member.name%></h3>
      </div>
      <%end%>
    </div>
    <div class="row committee" id="organising">
      <h1>Organising Team</h1>
      <%@members.where(:committee => 'organising').each do |member|%>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <img src="/faa_members/<%=member.image%>" alt="<%=member.name%>" class="member">
        <h3 class="member"><%=member.name%></h3>
      </div>
      <%end%>
    </div>
    <div class="row committee" id="union">
      <h1>Student Union</h1>
      <%@members.where(:committee => 'union').each do |member|%>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <img src="/faa_members/<%=member.image%>" alt="<%=member.name%>" class="member">
        <h3 class="member"><%=member.name%></h3>
      </div>
      <%end%>
    </div>
  </section>
</div>

<style media="screen">
nav ul li{
  color:black;
}
body{
  background: none;
}
</style>
